<div class="container">
  <div class="profile-wrapper">
    <div class="about">
      <h2>Hi, Welcome to my hut</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis
        exercitationem ut est voluptate quasi suscipit, illum libero odio
        explicabo iste aspernatur accusamus repellendus iure error numquam
        porro, ex quod! Vel cupiditate, quia aperiam repellendus reprehenderit
        adipisci a aliquam et saepe quis assumenda, dolor blanditiis ab placeat
        illo iure. Fugiat numquam dolore, dolor exercitationem ex dolores sint
        veritatis culpa facere.
      </p>
      <div class="redirect-button">
        <a
          href="https://api.whatsapp.com/send?phone=6285183157071&text=Halo%2C%20saya%20tertarik%20dengan%20CV%20Anda"
          target="_blank"
        >
          <button>Contact</button>
        </a>
        <a
          href="https://drive.google.com/file/d/1BP7B0FuTsZmy224qaCApBMp6_cGFB1PD/view"
          target="_blank"
        >
          <p>download CV <i class="fa fa-download"></i></p>
        </a>
      </div>
      <div class="icons-wrapper">
        <div class="circle-icon">
          <i class="fa fa-linkedin"></i>
        </div>
        <div class="circle-icon">
          <i class="fa fa-instagram"></i>
        </div>
        <div class="circle-icon">
          <i class="fa fa-facebook"></i>
        </div>
        <div class="circle-icon">
          <i class="fa fa-twitter"></i>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img src="/img/my-photo.jpeg" alt="spider-andrew" />
      <div class="info">
        <h2>Fery Hasyim</h2>
        <p>Unemployment</p>
      </div>
    </div>
  </div>
</div>