<div class="container-auth">
  <div class="form-container">
    <form action="/login" method="post">
      <div class="title">
        <h1>masuk</h1>
        <p>selamat datang kembali!</p>
      </div>
      <div class="form-box">
        <div class="input-form">
          <label for="email">email</label>
          <input
            id="email"
            type="text"
            placeholder="Masukkan email"
            name="email"
            required
          />
        </div>
        <div class="input-form">
          <label for="password">password</label>
          <input
            id="password"
            type="password"
            placeholder="Masukkan Password"
            name="password"
            required
          />
          <span class="password-toggle-icon" data-input="password"><i
              class="fa fa-eye-slash"
            ></i></span>
        </div>
      </div>
      <button class="submit-auth">masuk</button>
    </form>
  </div>
</div>

<script src="/js/togglePassword.js"></script>