<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/img/icon-dw.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    {{#if formStyle}}
      <link rel="stylesheet" href="/css/form.css" />
    {{/if}}
    {{#if projectStyle}}
      <link rel="stylesheet" href="/css/project.css" />
    {{/if}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li>
          <a href="https://dumbways.id/dashboard/student"><img
              src="/img/icon-dw.png"
              alt="dw-logos"
            /></a>
        </li>
        <li>
          <a href="/"><h3>home</h3></a>
        </li>
        <li>
          <a href="/project"><p>my project</p></a>
        </li>
      </ul>
      <a href="/contact">
        <button>contact me</button>
      </a>
    </nav>
    {{{body}}}
  </body>
</html>